
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/styles.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang Chủ</title>
</head>
<body>
    @* Menu *@
    <ul class="menu">
        <li><a href="~/Home/TrangChu">Trang chủ</a></li>
        <li><a href="~/Home/GioiThieu">Giới thiệu</a></li>
        <li><a href="~/TinTuc/DanhSachTinTuc">Tin tức</a></li>
    </ul>
    <div>
        
    </div>
</body>
</html>
