
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nội Dung Tin Tức</title>
</head>
<body>
    <div>
        Nội Dung Tin Tức
    </div>
</body>
</html>
